/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
}

.otp-wrapper {
    width: 750px;
    padding: 40px;
    border: 3px solid #000;
    border-radius: 14px;
    text-align: center;
}

#verification_heading {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 12px;
}

#verification_subtext {
    color: #555;
    font-size: 15px;
    max-width: 520px;
    margin: 0 auto 30px auto;
}

.code-container {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 25px;
}

.code {
    width: 75px;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    color: #666;
}

.footer-text {
    background: #e8e8e8;
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 8px;
    color: #555;
}
